$main-color: #7754f8;
$error-color: #f3335c;
$success-color: #7ed320;
$main-back-color: #e5eaf0;

$text-color: #0a1032;
$gray-color: #8c9aa7;

$transition: 0.7s all;

$chat-color: #020167;
$chat-back: #f4f8fb;